<div class="container mt-3 headProde">
<style>
  .headProde , header{
    border-radius: 71px;
    border-radius: 73px;
    background: #100e10;
   

  }
</style>
<header>
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <div class="ui menu inverted" style="background-color: #100e10;border-radius: 10px;">
      <a class="item" href="/">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAAAXNSR0IArs4c6QAAAQZJREFUSEvt1u8RATEQh+H3OtABHdABHaADOtABKkAHStABKqAEStCBWZPcxE3idnPmPl2+3p/nsvllcwUtjqJFixxsBOyAA3CyfKwVE+gM9ByyBI5a0IJVIW+oQS0WQi9gBuyBoWWGGqwKTYC7K+XFAtZhKciXUNZODf7C6iAzmMK0kAmMYVZIDVaxXCgEJTz9WEpDrLqProAkzzokMOPgobnvNCEmrWca3PQvrHxPiMksNsDAlaEp9gQebvN/emgsIAKugabY1n18WawOsyTSp7ErY/tplD2iPvKDRV24vapaM2lbN0siEveWbcpfTx0xK3f055rSMeS34WvUndS5WPS5VrE3/c5aHOrxX84AAAAASUVORK5CYII="/>
      </a>
      <a class="item" href="/estadisticas">
        Registros
      </a>
      <a class="item" href="/exampleHome">
        Chat
      </a>
  </div>
</header>
</div>